content/product/templates/01-missed-call-textback.json
{
  "name": "Missed-Call Text-Back",
  "nodes": [
    {
      "parameters": {
        "content": "## Missed-Call Text-Back — auto-text every missed caller\nWhen a call isn't answered, Twilio POSTs to this webhook and we text the caller back in seconds — so a missed call never becomes a lost job.\n\n### Setup (5 min)\n1. **Config node** → set your Twilio **Account SID** (AC…), your Twilio **SMS number** (From, E.164 e.g. +15551234567), and the **message** to match the brand.\n2. On **Send Text Back**, add an **HTTP Basic Auth** credential → username = Account SID, password = Auth Token.\n3. In Twilio, point the number's incoming call to TwiML that `<Dial action=\"…\">`s the business line, with **action = this webhook's Production URL** (or set the call **status callback** to it).\n4. **Activate** the workflow. The *Only Missed Calls* node filters for no-answer / busy / failed, so answered calls are ignored and the caller is never double-texted.\n\nClient pays Twilio usage (~$0.0079/SMS). $0 to you.",
        "height": 360,
        "width": 440
      },
      "id": "note1",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook1",
      "name": "Missed Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 460]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "accountSid", "value": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" },
            { "name": "fromNumber", "value": "+15551234567" },
            { "name": "messageBody", "value": "Sorry we missed your call! How can we help? Reply here and we'll get right back to you." }
          ]
        },
        "options": {}
      },
      "id": "config1",
      "name": "Config — edit me",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body.DialCallStatus || $json.body.CallStatus }}", "operation": "equal", "value2": "no-answer" },
            { "value1": "={{ $json.body.DialCallStatus || $json.body.CallStatus }}", "operation": "equal", "value2": "busy" },
            { "value1": "={{ $json.body.DialCallStatus || $json.body.CallStatus }}", "operation": "equal", "value2": "failed" }
          ]
        },
        "combineOperation": "any"
      },
      "id": "if1",
      "name": "Only Missed Calls",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $json.accountSid + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json.body.From }}" },
            { "name": "From", "value": "={{ $json.fromNumber }}" },
            { "name": "Body", "value": "={{ $json.messageBody }}" }
          ]
        },
        "options": {}
      },
      "id": "http1",
      "name": "Send Text Back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 400]
    }
  ],
  "connections": {
    "Missed Call Webhook": {
      "main": [[{ "node": "Config — edit me", "type": "main", "index": 0 }]]
    },
    "Config — edit me": {
      "main": [[{ "node": "Only Missed Calls", "type": "main", "index": 0 }]]
    },
    "Only Missed Calls": {
      "main": [
        [{ "node": "Send Text Back", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {},
  "active": false
}
